/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

.flexible{
    display: flex;
}


.container-80{
    width: 80%;
    margin: 0 auto;
}

.relat{
    position: relative;
}

.abso{
    position: absolute;
}

.fix{
    position: fixed;
}

.wrapped{
    flex-wrap: wrap;
}

/* Elements */

/* Header elements */

.orange{
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: orangered;
}


.hd{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.textcenter span{
    padding: 10px;
}

.hd div img{
    width: 30%;
}

#icons{
    color: #fff;
    display: inline-block;
}



.container-60{
    width: 30%;
    margin: 0 auto;
}

/* Body elements */

.wr-red{
    color: red;
}

.line-th{
    text-decoration: line-through;
    padding-left: 5px;
}

.info h4{
    text-transform: uppercase;
}


.debug{
    border: 2px dashed black;
}

.slide{
    flex-basis: calc(100% / 3 - 1%);
    margin
}

.slide img{
    display: block;
    width: 100%;
}

.slides{
    justify-content: space-between;
}



/* .
hearthem{
    top: 10px;
    right: 0;
    padding: 3px;
    background-color: white;
    color: black;
} */





