/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

.flexible{
    display: flex;
}


.container-80{
    width: 80%;
    margin: 0 auto;
}

.relat{
    position: relative;
}

.abso{
    position: absolute;
}

.fix{
    position: fixed;
}

/* Elements */

.orange{
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: orangered;
}


.hd{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.textcenter span{
    padding: 10px;
}

.hd div img{
    width: 30%;
}

#icons{
    color: #fff;
    display: inline-block;
}

main{
    margin-top: 200px;
}

.container-60{
    width: 30%;
    margin: 0 auto;
}

.red{
    color: red;
}

.broken{
    text-decoration: line-through;
}

.slides{
    flex-basis: calc ( (100% / 3) -10%);
    justify-content: space-between;
    margin-right: 100px;
}

.slide{
    /* margin-right: 10%; */
    margin-bottom: 50px;
}

.photo{
    z-index: 1;
}

.hearthem{
    top: 10px;
    right: 0;
    padding: 3px;
    background-color: white;
    color: black;
}



.unob{
    display: none;
}

.uno:hover + .unob{
    display: block;
    top: 0;
    left: 0;
}

