/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

.flexible{
    display: flex;
}


.container-80{
    width: 80%;
    margin: 0 auto;
}


.debug{
    border: 2px dashed black;
}

.relat{
    position: relative;
}

.abso{
    position: absolute;
}

.fix{
    position: fixed;
}

.wrapped{
    flex-wrap: wrap;
}

.bc-darkgrey{
    background-color: rgb(32, 32, 32);
}

.juststart{
    justify-content: flex-start;
}

.justend{
    justify-content: flex-end;
}

.alicenter{
    align-items: center;
}

/* Elements */

/* Header elements */

.orange{
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: orangered;
}


main{
    padding-top: 100px;
}

.hd{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.textcenter span{
    padding: 10px;
}

.hd div img{
    width: 30%;
}

#icons{
    color: #fff;
    display: inline-block;
    padding: 0 10px;
}



.container-30{
    width: 30%;
    margin: 0 auto;
}

/* Body elements */

.wr-red{
    color: red;
}

.line-th{
    text-decoration: line-through;
    padding-left: 5px;
}

.info h4{
    text-transform: uppercase;
}


.slide{
    flex-basis: calc(100% / 3 - 1%);
}

.img-reset{
    display: block;
}

.slide img{
    width: 100%;
}

.slides{
    justify-content: space-between;
}


.boxes{
    bottom: 10px;
    left: 5px;
}

.scontorosso{
    padding: 2px 5px;
    background-color: red;
}

.sostenibile{
    padding: 2px 5px;
    background-color: green;
}



.hearth{
    top: 10px;
    right: 0;
    padding: 5px 10px;
    background-color: white;
    color: black;
}

.img-b{
    display: none;
}

.photo .img-a:hover{
    display: none;
}

.photo .img-b:hover{
    display: block;
}

.hearth:hover{
    color: red;
}


/* Footer Elements */

footer{
    margin-top: 50px;
    color: #fff;
}

footer div{
    padding: 20px;
}

ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}


